.logger-title {
    text-align: center;
    margin-top: 10px;

}

.chart_button {
    display: block;
    background: none;
    font-size: 15px;
    color:white;
    padding: 2px;
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 15px;
 }

 .selector{
    .datetime-form {
        position: relative;
        // bottom: 75px;
    }
    
    .selector-label{
        text-align: center;
    }
    
    .selector-list{
        position: relative;
        bottom:20px
    }
    
    .selector-container{
        padding:15;
        margin-top:50px;
    } 
    
    .slider-list{
        position: relative;
        bottom: 65px;
    }
    
    .slider-container{
        padding:15;
        margin-top:50px;
    } 
 }

