.logger-title {
    text-align: center;
    padding-left: 0px;
    margin-top: 0px;
    padding-right: 60px;

}

.chart_button {
    display: block;
    background: none;
    font-size: 15px;
    color:white;
    padding: 2px;
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 15px;
 }

.datetime-form {
   // margin-bottom: 600px;

}