<ion-header>
  <ion-toolbar>
   <ion-title class="history-title">
      History
    </ion-title>
    <ion-buttons start>
      <ion-button ion-button (click)="onDismiss()">
        <span ion-text> Cancel </span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="history-list-id" class="history-list">
    <ion-list>
      <div id="history-slider-id" class="history-slider">
        <ion-item-sliding *ngFor="let grocery of groceries">
          <ion-item id="history-item-id" class="history-item">
            <div class="selector-label"> {{grocery}}</div>
          </ion-item>
          <ion-item-options>
            <button ion-button icon-only light>
                <ion-icon name="paper"></ion-icon>
            </button>
            <button ion-button icon-only danger>
                <ion-icon name="trash"></ion-icon>
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </div>
    </ion-list>
  </div>
</ion-content>