<ion-header>
  <ion-toolbar>
   <ion-title class="history-title">
      History
    </ion-title>
    <ion-buttons start>
      <ion-button ion-button (click)="onDismiss()">
        <span ion-text> Cancel </span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!--
<div>
    <ion-toolbar>
      <ion-buttons>
        <ion-button slot="start" name="chartButton" (click)="changeData(allTimeChartData, allLabels)">
          All Time
        </ion-button>
        <ion-button slot="start" name="chartButton" (click)="changeData(yearChartData, yearLabels)">
          Yearly
        </ion-button>
        <ion-button slot="end" name="chartButton" (click)="changeData(monthChartData, monthLabels)">
          Monthly
        </ion-button>
        <ion-button slot="end" name="chartButton" (click)="changeData(weekChartData, weekLabels)">
          Weekly
        </ion-button>
        <ion-button  slot="end" name="chartButton" (click)="changeData(dayChartData, dayLabels)">
          Daily
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </div> -->