<ion-header>
  <ion-toolbar>
   <ion-title class="history-title">
      History
    </ion-title>
    <ion-buttons start>
      <ion-button ion-button (click)="onDismiss()">
        <span ion-text> Cancel </span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="history-list-id" class="history history-list">
    <ion-list>
      <div id="history-slider-id" class="history history-slider" *ngFor="let item of items">
        <ion-item-sliding >
          <ion-item id="history-item-id" class="history history-item" button (click)="recordItem(item)">
            <ion-label>
              <div class="history-info"> 
                <label> {{item.date}} </label>
              </div>
            </ion-label>
          </ion-item>
          <ion-item-options>
            <button ion-button icon-only danger>
                <ion-icon name="trash"></ion-icon>
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </div>
    </ion-list>
  </div>
</ion-content>