
<div style="width: 100%;">
<canvas
    baseChart
    [chartType]="'line'"
    [datasets]="chartData"
    [labels]="chartLabels"
    [options]="chartOptions"
    [legend]="true"
    (chartHover)="onChartHovered($event)"
    (chartClick)="onChartClick($event)">
</canvas>
</div>

<span class="chart_choices">
    <ion-toolbar>
        <ion-buttons>
        <ion-button slot="start" name="chartButton" (click)="changeData(allTimeChartData)">
            All Time
        </ion-button>
        <ion-button slot="start" name="chartButton" (click)="changeData(yearChartData)">
            Yearly
        </ion-button>
        <ion-button slot="end" name="chartButton" (click)="changeData(monthChartData)">
            Monthly
        </ion-button>
        <ion-button slot="end" name="chartButton" (click)="changeData(weekChartData)">
            Weekly
        </ion-button>
        <ion-button  slot="end" name="chartButton" (click)="changeData(dayChartData)">
            Daily
        </ion-button>
        </ion-buttons>
    </ion-toolbar>
</span>